<%= form_for(@saldo) do |f| %>
  <% if @saldo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saldo.errors.count, "error") %> prohibited this saldo from being saved:</h2>

      <ul>
      <% @saldo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.number_field :monto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
