<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @saldo.fecha %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @saldo.monto %>
</p>

<%= link_to 'Edit', edit_saldo_path(@saldo) %> |
<%= link_to 'Back', saldos_path %>
