<p id="notice"><%= notice %></p>

<p>
  <strong>Ngrupo:</strong>
  <%= @grupo.nGrupo %>
</p>

<p>
  <strong>Idgrupo:</strong>
  <%= @grupo.idGrupo %>
</p>

<p>
  <strong>Idbanco:</strong>
  <%= @grupo.idBanco %>
</p>

<p>
  <strong>Idalmacen:</strong>
  <%= @grupo.idAlmacen %>
</p>

<%= link_to 'Edit', edit_grupo_path(@grupo) %> |
<%= link_to 'Back', grupos_path %>
