
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/images/style.css" />
		<title>Taller de Integración Grupo 3</title>
	</head>
	<body>
		<div id="container">
	        <div id="header">
	            <h1>Taller de Integración<span class="off">Grupo 3</span></h1>
	        </div>   
	        <div id="menu">
	            <ul>
	                <li class="menuitem"><a href="/">Inicio</a></li>
                    <li class="menuitem"><a href="/home/productos">Productos</a></li>
                    <li class="menuitem"><a href="/home/bodegas">Bodegas</a></li>
	                <li class="menuitem"><a href="/home/listaOrdenesCompra">Ordenes de Compra</a></li>
	                <li class="menuitem"><a href="/home/credenciales">Credenciales</a></li>
                    <li class="menuitem"><a href="/home/documentacion">Documentación</a></li>
	            </ul>
	        </div>
	        <div class="boxed">
                <h1>Bodegas</h1>
				<p>&emsp;</p>
				<% @almacenesInfo.each do |almacen| %>
				<h3>Almacen: <%= almacen["_id"]%>  </h3>
				<h3>Total Space  <%= almacen["totalSpace"]%> </h3>
				<h3>Used Space <%= almacen["usedSpace"]%></h3>  
				<%
					despacho =almacen["despacho"]
				    recepcion =almacen["recepcion"]
				    pulmon =almacen["pulmon"]
				    tipo = "Normal"
				    if pulmon == true
				  	  tipo ="Pulmon"
					end 
				    if recepcion == true
				      tipo ="Recepcion"
				    end
				    if despacho == true
				      tipo ="Despacho"
				    end  
				%>
				<h3>Tipo: <%= tipo%>  </h3>
				<table style="width:100%">
				  	<tr bgcolor="#B3B5B5">
				    	<th>SKU</th>
				    	<th>Nombre</th>		
				    	<th>Cantidad</th>
				  	</tr>
				  	<% @products = JSON.parse(getSKUWithStock(almacen["_id"]))%>
				  	<% @products.each do |product| %>	
				  	<tr>
				  		<th><%= product["_id"] %>	</th>
				    	<th><%= Sku.find_by(sku: product["_id"]).descripcion%></th>		
				    	<th><%= product["total"] %></th>
				    </tr>
					<% end %>
				</table>
				<% end %>
            </div>
	   </div>
	</body>
</html>
<style>
	.boxed {
        background-color: white; 
        width: 1000px;
        border: 1px solid black ;
    }
	table, th, td {
    	border: 1px solid black;
    	border-collapse: collapse;
	}
	th, td {
    	padding: 5px;
	}
</style>
