<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>Grupo 3</title>
		<link rel="alternate" type="application/rss+xml" title="frittt.com" href="feed/index.html">
		<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/images/css/style.css">
		<link rel="stylesheet" href="/images/css/prettify.css">
	</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.min.js" ></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js" ></script>
	<div class="wrapper">
			<nav>
				<ul id="menu">
					<li><a href="/home/index">Inicio</a></li>
					<li><a href="/home/productos">Productos</a></li>
					<li><a href="/home/bodegas">Bodegas</a></li>
					<li><a href="/home/listaOrdenesCompra">Estados</a></li>
					<li><a href="/home/credenciales">Credenciales</a></li>
					<li><a href="/home/documentacion">Documentación</a></li>
					<li><a href="/spree">Spree</a></li>
					<li><a href="/home/dashboard">Dashboard</a></li>
				</ul>
			</nav>
			<header>
				<div class="container">
			    	<h2 class="lone-header">Dashboard</h2>
			  	</div>
			</header>
		
<section>
<div class="container">
			    	<div class="docs-content" style="">
	<p><h1>I.- Gráficos Finacieros</h1></p>
	<p><h2>1) Saldo Cuenta por día</h2></p>
    <div id="roomForChart" style="height: 450px; width: 650px">
        <center>
         <select id= listasaldo name="diasSaldos" style="margin: 10px 10px 10px 10px">
           <option value="13"><%= @diasEjeX[13]%></option> 
           <option value="12"><%= @diasEjeX[12]%></option> 
           <option value="11"><%= @diasEjeX[11]%></option>
           <option value="10"><%= @diasEjeX[10]%></option> 
           <option value="9"><%= @diasEjeX[9]%></option> 
           <option value="8"><%= @diasEjeX[8]%></option> 
           <option value="7"><%= @diasEjeX[7]%></option> 
           <option value="6"><%= @diasEjeX[6]%></option> 
           <option value="5"><%= @diasEjeX[5]%></option> 
           <option value="4"><%= @diasEjeX[4]%></option> 
           <option value="3"><%= @diasEjeX[3]%></option> 
           <option value="2"><%= @diasEjeX[2]%></option> 
           <option value="1"><%= @diasEjeX[1]%></option> 
           <option value="0"><%= @diasEjeX[0]%></option> 
        </select>
        <button id=boton value="Ver saldo diario" style='width:320px; height:60px' onclick="hacer_click()"/>Ver Detalle</button>
        </center>
    </div>
    <div id=info style='width:0; height:0; margin: 10px 10px 10px 10px'> 
    <center>
    <textarea id="mytextarea" style='width:0; height:0'></textarea>
     </center>
    </div>
    
		<script>

        function hacer_click()
        {
            var e = document.getElementById("listasaldo");
            var strUser = e.options[e.selectedIndex].value;
            var b = document.getElementById('boton');
            var t = document.getElementById('mytextarea');
            var t1 = document.getElementById('info');
            if (b.innerHTML == "Ver Detalle") 
            { 
                b.innerHTML = "No Ver Detalle" 
                if (strUser == "0") { t.innerHTML = "<%= @detalleTransacciones[0]%>"; }
                else if (strUser == "1") {  t.innerHTML = "<%= @detalleTransacciones[1]%>"; }
                else if (strUser == "2") {  t.innerHTML = "<%= @detalleTransacciones[2]%>"; }
                else if (strUser == "3") {  t.innerHTML = "<%= @detalleTransacciones[3]%>"; }
                else if (strUser == "4") {  t.innerHTML = "<%= @detalleTransacciones[4]%>"; }
                else if (strUser == "5") {  t.innerHTML = "<%= @detalleTransacciones[5]%>"; }
                else if (strUser == "6") {  t.innerHTML = "<%= @detalleTransacciones[6]%>"; }
                else if (strUser == "7") {  t.innerHTML = "<%= @detalleTransacciones[7]%>"; }
                else if (strUser == "8") {  t.innerHTML = "<%= @detalleTransacciones[8]%>"; }
                else if (strUser == "9") {  t.innerHTML = "<%= @detalleTransacciones[9]%>"; }
                else if (strUser == "10") {  t.innerHTML = "<%= @detalleTransacciones[10]%>"; }
                else if (strUser == "11") {  t.innerHTML = "<%= @detalleTransacciones[11]%>"; }
                else if (strUser == "12") {  t.innerHTML = "<%= @detalleTransacciones[12]%>"; }
                else if (strUser == "13") {  t.innerHTML = "<%= @detalleTransacciones[13]%>"; } 
                resizeTextarea(500,400);
            }
            else { b.innerHTML = "Ver Detalle"; t.innerHTML = "";resizeTextarea(0,0); }  
            function resizeTextarea(x, y){ t.style.height = y + 'px'; t.style.width = x + 'px';
            t1.style.height = y + 'px'; t1.style.width = x + 'px'; }
        };

        htmlForGraph = "<canvas id='saldos'>";
        holder = document.getElementById('roomForChart');
        holder.innerHTML += htmlForGraph;

		var ctx = document.getElementById("saldos");
		var data = {
    labels: ["<%= @diasEjeX[0]%>", "<%= @diasEjeX[1]%>", "<%= @diasEjeX[2]%>", "<%= @diasEjeX[3]%>", "<%= @diasEjeX[4]%>", "<%= @diasEjeX[5]%>", "<%= @diasEjeX[6]%>", "<%= @diasEjeX[7]%>", "<%= @diasEjeX[8]%>", "<%= @diasEjeX[9]%>", "<%= @diasEjeX[10]%>", "<%= @diasEjeX[11]%>", "<%= @diasEjeX[12]%>", "<%= @diasEjeX[13]%>"],
    datasets: [
        {
            label: "Mis saldos en dos semanas",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: ["<%= @saldosEjeY[0]%>", "<%= @saldosEjeY[1]%>", "<%= @saldosEjeY[2]%>", "<%= @saldosEjeY[3]%>", "<%= @saldosEjeY[4]%>", "<%= @saldosEjeY[5]%>", "<%= @saldosEjeY[6]%>", "<%= @saldosEjeY[7]%>", "<%= @saldosEjeY[8]%>", "<%= @saldosEjeY[9]%>", "<%= @saldosEjeY[10]%>", "<%= @saldosEjeY[11]%>", "<%= @saldosEjeY[12]%>", "<%= @saldosEjeY[13]%>"]
		        }
		    ]
		};
		var options = {  
		      scaleBeginAtZero : false,
              scaleOverride: true,
              scaleSteps: 20,
              scaleStepWidth: 2,
              scaleStartValue: -20,
              responsive: true
        		    };
		var myChart = new Chart(ctx, {
		    type: 'line',
		    data: data,
		    options: options
		});
		</script>

    <h2>2) Facturas y Boletas emitidas por día (en pesos)</h2>

    <div style="height: 450px; width: 650px">
    <center>
         <select id= listaboletasP name="diasBoletasP" style="margin: 10px 10px 10px 10px">
           <option value="13"><%= @diasEjeXBoletasP[13]%></option> 
           <option value="12"><%= @diasEjeXBoletasP[12]%></option> 
           <option value="11"><%= @diasEjeXBoletasP[11]%></option>
           <option value="10"><%= @diasEjeXBoletasP[10]%></option> 
           <option value="9"><%= @diasEjeXBoletasP[9]%></option> 
           <option value="8"><%= @diasEjeXBoletasP[8]%></option> 
           <option value="7"><%= @diasEjeXBoletasP[7]%></option> 
           <option value="6"><%= @diasEjeXBoletasP[6]%></option> 
           <option value="5"><%= @diasEjeXBoletasP[5]%></option> 
           <option value="4"><%= @diasEjeXBoletasP[4]%></option> 
           <option value="3"><%= @diasEjeXBoletasP[3]%></option> 
           <option value="2"><%= @diasEjeXBoletasP[2]%></option> 
           <option value="1"><%= @diasEjeXBoletasP[1]%></option> 
           <option value="0"><%= @diasEjeXBoletasP[0]%></option> 
        </select>
        <button id=boton1 value="Ver boletas diarias" style='width:320px; height:60px' onclick="click_facturasP()"/>Ver Detalle</button>
        </center>
     <canvas id="numeroBoletasP"></canvas>
    </div>
    <div id=info1 style='width:0; height:0; margin: 10px 10px 10px 10px'> 
    <center>
    <textarea id="mytextarea1" style='width:0; height:0'></textarea>
     </center>
    </div>
        <script>

        function click_facturasP()
        {
            var e = document.getElementById("listaboletasP");
            var strUser = e.options[e.selectedIndex].value;
            var b = document.getElementById('boton1');
            var t = document.getElementById('mytextarea1');
            var t1 = document.getElementById('info1');
            if (b.innerHTML == "Ver Detalle") 
            { 
                b.innerHTML = "No Ver Detalle" 
                if (strUser == "0") { t.innerHTML = "<%= @detalleBoletasFacturasP[0]%>"; }
                else if (strUser == "1") {  t.innerHTML = "<%= @detalleBoletasFacturasP[1]%>"; }
                else if (strUser == "2") {  t.innerHTML = "<%= @detalleBoletasFacturasP[2]%>"; }
                else if (strUser == "3") {  t.innerHTML = "<%= @detalleBoletasFacturasP[3]%>"; }
                else if (strUser == "4") {  t.innerHTML = "<%= @detalleBoletasFacturasP[4]%>"; }
                else if (strUser == "5") {  t.innerHTML = "<%= @detalleBoletasFacturasP[5]%>"; }
                else if (strUser == "6") {  t.innerHTML = "<%= @detalleBoletasFacturasP[6]%>"; }
                else if (strUser == "7") {  t.innerHTML = "<%= @detalleBoletasFacturasP[7]%>"; }
                else if (strUser == "8") {  t.innerHTML = "<%= @detalleBoletasFacturasP[8]%>"; }
                else if (strUser == "9") {  t.innerHTML = "<%= @detalleBoletasFacturasP[9]%>"; }
                else if (strUser == "10") {  t.innerHTML = "<%= @detalleBoletasFacturasP[10]%>"; }
                else if (strUser == "11") {  t.innerHTML = "<%= @detalleBoletasFacturasP[11]%>"; }
                else if (strUser == "12") {  t.innerHTML = "<%= @detalleBoletasFacturasP[12]%>"; }
                else if (strUser == "13") {  t.innerHTML = "<%= @detalleBoletasFacturasP[13]%>"; } 
                resizeTextarea(500,150);
            }
            else { b.innerHTML = "Ver Detalle"; t.innerHTML = "";resizeTextarea(0,0); }  
            function resizeTextarea(x, y){ t.style.height = y + 'px'; t.style.width = x + 'px';
            t1.style.height = y + 'px'; t1.style.width = x + 'px'; }           
        };
        var ctx = document.getElementById("numeroBoletasP");
        var data = {
    labels: ["<%= @diasEjeXBoletasP[0]%>", "<%= @diasEjeXBoletasP[1]%>", "<%= @diasEjeXBoletasP[2]%>", "<%= @diasEjeXBoletasP[3]%>", "<%= @diasEjeXBoletasP[4]%>", "<%= @diasEjeXBoletasP[5]%>", "<%= @diasEjeXBoletasP[6]%>", "<%= @diasEjeXBoletasP[7]%>", "<%= @diasEjeXBoletasP[8]%>", "<%= @diasEjeXBoletasP[9]%>", "<%= @diasEjeXBoletasP[10]%>", "<%= @diasEjeXBoletasP[11]%>", "<%= @diasEjeXBoletasP[12]%>", "<%= @diasEjeXBoletasP[13]%>"],
    datasets: [
        {
            label: "Mis boletas en dos semanas",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: ["<%= @saldosEjeYBoletasP[0]%>", "<%= @saldosEjeYBoletasP[1]%>", "<%= @saldosEjeYBoletasP[2]%>", "<%= @saldosEjeYBoletasP[3]%>", "<%= @saldosEjeYBoletasP[4]%>", "<%= @saldosEjeYBoletasP[5]%>", "<%= @saldosEjeYBoletasP[6]%>", "<%= @saldosEjeYBoletasP[7]%>", "<%= @saldosEjeYBoletasP[8]%>", "<%= @saldosEjeYBoletasP[9]%>", "<%= @saldosEjeYBoletasP[10]%>", "<%= @saldosEjeYBoletasP[11]%>", "<%= @saldosEjeYBoletasP[12]%>", "<%= @saldosEjeYBoletasP[13]%>"]
                },
                  {
            label: "Mis facturas en dos semanas",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(48,197,83,0.2)",
            borderColor: "rgba(48,197,83,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(48,197,83,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: ["<%= @saldosEjeYFacturasP[0]%>", "<%= @saldosEjeYFacturasP[1]%>", "<%= @saldosEjeYFacturasP[2]%>", "<%= @saldosEjeYFacturasP[3]%>", "<%= @saldosEjeYFacturasP[4]%>", "<%= @saldosEjeYFacturasP[5]%>", "<%= @saldosEjeYFacturasP[6]%>", "<%= @saldosEjeYFacturasP[7]%>", "<%= @saldosEjeYFacturasP[8]%>", "<%= @saldosEjeYFacturasP[9]%>", "<%= @saldosEjeYFacturasP[10]%>", "<%= @saldosEjeYFacturasP[11]%>", "<%= @saldosEjeYFacturasP[12]%>", "<%= @saldosEjeYFacturasP[13]%>"]
                }
            ]
        };
        var options = {  
                scaleBeginAtZero : false,
      scaleOverride: true,
      scaleSteps: 20,
      scaleStepWidth: 2,
      scaleStartValue: -20,
      responsive: true
            };
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options
        });
        </script>


    <h2>3) Facturas y Boletas emitidas por día (en cantidad)</h2>


    <div style="height: 450px; width: 650px">
    <center>
         <select id= listaboletas name="diasBoletas" style="margin: 10px 10px 10px 10px">
           <option value="13"><%= @diasEjeXBoletas[13]%></option> 
           <option value="12"><%= @diasEjeXBoletas[12]%></option> 
           <option value="11"><%= @diasEjeXBoletas[11]%></option>
           <option value="10"><%= @diasEjeXBoletas[10]%></option> 
           <option value="9"><%= @diasEjeXBoletas[9]%></option> 
           <option value="8"><%= @diasEjeXBoletas[8]%></option> 
           <option value="7"><%= @diasEjeXBoletas[7]%></option> 
           <option value="6"><%= @diasEjeXBoletas[6]%></option> 
           <option value="5"><%= @diasEjeXBoletas[5]%></option> 
           <option value="4"><%= @diasEjeXBoletas[4]%></option> 
           <option value="3"><%= @diasEjeXBoletas[3]%></option> 
           <option value="2"><%= @diasEjeXBoletas[2]%></option> 
           <option value="1"><%= @diasEjeXBoletas[1]%></option> 
           <option value="0"><%= @diasEjeXBoletas[0]%></option> 
        </select>
        <button id=boton2 value="Ver boletas diarias" style='width:320px; height:60px' onclick="click_facturas()"/>Ver Detalle</button>
        </center>
	 <canvas id="numeroBoletas"></canvas>
	</div>
    <div id=info2 style='width:0; height:0; margin: 10px 10px 10px 10px'> 
    <center>
    <textarea id="mytextarea2" style='width:0; height:0'></textarea>
     </center>
    </div>
		<script>

        function click_facturas()
        {
            var e = document.getElementById("listaboletas");
            var strUser = e.options[e.selectedIndex].value;
            var b = document.getElementById('boton2');
            var t = document.getElementById('mytextarea2');
            var t1 = document.getElementById('info2');
            if (b.innerHTML == "Ver Detalle") 
            { 
                b.innerHTML = "No Ver Detalle" 
                if (strUser == "0") { t.innerHTML = "<%= @detalleBoletasFacturas[0]%>"; }
                else if (strUser == "1") {  t.innerHTML = "<%= @detalleBoletasFacturas[1]%>"; }
                else if (strUser == "2") {  t.innerHTML = "<%= @detalleBoletasFacturas[2]%>"; }
                else if (strUser == "3") {  t.innerHTML = "<%= @detalleBoletasFacturas[3]%>"; }
                else if (strUser == "4") {  t.innerHTML = "<%= @detalleBoletasFacturas[4]%>"; }
                else if (strUser == "5") {  t.innerHTML = "<%= @detalleBoletasFacturas[5]%>"; }
                else if (strUser == "6") {  t.innerHTML = "<%= @detalleBoletasFacturas[6]%>"; }
                else if (strUser == "7") {  t.innerHTML = "<%= @detalleBoletasFacturas[7]%>"; }
                else if (strUser == "8") {  t.innerHTML = "<%= @detalleBoletasFacturas[8]%>"; }
                else if (strUser == "9") {  t.innerHTML = "<%= @detalleBoletasFacturas[9]%>"; }
                else if (strUser == "10") {  t.innerHTML = "<%= @detalleBoletasFacturas[10]%>"; }
                else if (strUser == "11") {  t.innerHTML = "<%= @detalleBoletasFacturas[11]%>"; }
                else if (strUser == "12") {  t.innerHTML = "<%= @detalleBoletasFacturas[12]%>"; }
                else if (strUser == "13") {  t.innerHTML = "<%= @detalleBoletasFacturas[13]%>"; } 
                resizeTextarea(500,150);
            }
            else { b.innerHTML = "Ver Detalle"; t.innerHTML = "";resizeTextarea(0,0); }  
            function resizeTextarea(x, y){ t.style.height = y + 'px'; t.style.width = x + 'px';
            t1.style.height = y + 'px'; t1.style.width = x + 'px'; }
        };


		var ctx = document.getElementById("numeroBoletas");
		var data = {
    labels: ["<%= @diasEjeXBoletas[0]%>", "<%= @diasEjeXBoletas[1]%>", "<%= @diasEjeXBoletas[2]%>", "<%= @diasEjeXBoletas[3]%>", "<%= @diasEjeXBoletas[4]%>", "<%= @diasEjeXBoletas[5]%>", "<%= @diasEjeXBoletas[6]%>", "<%= @diasEjeXBoletas[7]%>", "<%= @diasEjeXBoletas[8]%>", "<%= @diasEjeXBoletas[9]%>", "<%= @diasEjeXBoletas[10]%>", "<%= @diasEjeXBoletas[11]%>", "<%= @diasEjeXBoletas[12]%>", "<%= @diasEjeXBoletas[13]%>"],
    datasets: [
        {
            label: "Mis boletas en dos semanas",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: ["<%= @saldosEjeYBoletas[0]%>", "<%= @saldosEjeYBoletas[1]%>", "<%= @saldosEjeYBoletas[2]%>", "<%= @saldosEjeYBoletas[3]%>", "<%= @saldosEjeYBoletas[4]%>", "<%= @saldosEjeYBoletas[5]%>", "<%= @saldosEjeYBoletas[6]%>", "<%= @saldosEjeYBoletas[7]%>", "<%= @saldosEjeYBoletas[8]%>", "<%= @saldosEjeYBoletas[9]%>", "<%= @saldosEjeYBoletas[10]%>", "<%= @saldosEjeYBoletas[11]%>", "<%= @saldosEjeYBoletas[12]%>", "<%= @saldosEjeYBoletas[13]%>"]
		        },
                  {
            label: "Mis facturas en dos semanas",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(48,197,83,0.2)",
            borderColor: "rgba(48,197,83,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(48,197,83,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: ["<%= @saldosEjeYFacturas[0]%>", "<%= @saldosEjeYFacturas[1]%>", "<%= @saldosEjeYFacturas[2]%>", "<%= @saldosEjeYFacturas[3]%>", "<%= @saldosEjeYFacturas[4]%>", "<%= @saldosEjeYFacturas[5]%>", "<%= @saldosEjeYFacturas[6]%>", "<%= @saldosEjeYFacturas[7]%>", "<%= @saldosEjeYFacturas[8]%>", "<%= @saldosEjeYFacturas[9]%>", "<%= @saldosEjeYFacturas[10]%>", "<%= @saldosEjeYFacturas[11]%>", "<%= @saldosEjeYFacturas[12]%>", "<%= @saldosEjeYFacturas[13]%>"]
                }
		    ]
		};
		var options = {  
		        scaleBeginAtZero : false,
      scaleOverride: true,
      scaleSteps: 20,
      scaleStepWidth: 2,
      scaleStartValue: -20,
      responsive: true
		    };
		var myChart = new Chart(ctx, {
		    type: 'line',
		    data: data,
		    options: options
		});
		</script>

    <p><h1>II.- Gráficos Logísticos</h1></p>

    <p><h2>1) Stock por sku diario (suma de todos los almacenes)</h2></p>

    <div style="height: 600; width: 600px">  
    <center>
     <canvas id="stock" width="550" height="500"></canvas>    
     </center> 
    </div>
        <script>      

        var ctx = document.getElementById("stock");
        var data = {
    labels: ["<%= @diasEjeXStock[0]%>", "<%= @diasEjeXStock[1]%>", "<%= @diasEjeXStock[2]%>", "<%= @diasEjeXStock[3]%>", "<%= @diasEjeXStock[4]%>", "<%= @diasEjeXStock[5]%>", "<%= @diasEjeXStock[6]%>", "<%= @diasEjeXStock[7]%>", "<%= @diasEjeXStock[8]%>", "<%= @diasEjeXStock[9]%>", "<%= @diasEjeXStock[10]%>", "<%= @diasEjeXStock[11]%>", "<%= @diasEjeXStock[12]%>", "<%= @diasEjeXStock[13]%>"],
    datasets: [
        {
            label: "Mis trigos en dos semanas                        ",
            fill: false, lineTension: 0.1, backgroundColor: "#4169E1",
            borderColor: "#4169E1",  borderCapStyle: 'butt',
            borderDash: [], borderDashOffset: 0.0, borderJoinStyle: 'miter',
            pointBorderColor: "#4169E1",
            pointBackgroundColor: "#fff", pointBorderWidth: 1,
            pointHoverRadius: 1, pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)", pointHoverBorderWidth: 1,
            pointRadius: 1,  pointHitRadius: 1,
            data: ["<%= @stockEjeYTrigo[0]%>", "<%= @stockEjeYTrigo[1]%>", "<%= @stockEjeYTrigo[2]%>", "<%= @stockEjeYTrigo[3]%>", "<%= @stockEjeYTrigo[4]%>", "<%= @stockEjeYTrigo[5]%>", "<%= @stockEjeYTrigo[6]%>", "<%= @stockEjeYTrigo[7]%>", "<%= @stockEjeYTrigo[8]%>", "<%= @stockEjeYTrigo[9]%>", "<%= @stockEjeYTrigo[10]%>", "<%= @stockEjeYTrigo[11]%>", "<%= @stockEjeYTrigo[12]%>", "<%= @stockEjeYTrigo[13]%>"] },
            {
            label: "Mis cremas en dos semanas                ",
            fill: false, lineTension: 0.1, backgroundColor: "#228B22",
            borderColor: "#228B22",  borderCapStyle: 'butt',
            borderDash: [], borderDashOffset: 0.0, borderJoinStyle: 'miter',
            pointBorderColor: "#228B22",
            pointBackgroundColor: "#fff", pointBorderWidth: 1,
            pointHoverRadius: 1, pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)", pointHoverBorderWidth: 1,
            pointRadius: 1,  pointHitRadius: 1,
            data: ["<%= @stockEjeYCrema[0]%>", "<%= @stockEjeYCrema[1]%>", "<%= @stockEjeYCrema[2]%>", "<%= @stockEjeYCrema[3]%>", "<%= @stockEjeYCrema[4]%>", "<%= @stockEjeYCrema[5]%>", "<%= @stockEjeYCrema[6]%>", "<%= @stockEjeYCrema[7]%>", "<%= @stockEjeYCrema[8]%>", "<%= @stockEjeYCrema[9]%>", "<%= @stockEjeYCrema[10]%>", "<%= @stockEjeYCrema[11]%>", "<%= @stockEjeYCrema[12]%>", "<%= @stockEjeYCrema[13]%>"] },
            {
            label: "Mis cebadas en dos semanas                    ",
            fill: false, lineTension: 0.1, backgroundColor: "#ff0000",
            borderColor: "#ff0000",  borderCapStyle: 'butt',
            borderDash: [], borderDashOffset: 0.0, borderJoinStyle: 'miter',
            pointBorderColor: "#ff0000",
            pointBackgroundColor: "#fff", pointBorderWidth: 1,
            pointHoverRadius: 1, pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)", pointHoverBorderWidth: 1,
            pointRadius: 1,  pointHitRadius: 1,
            data: ["<%= @stockEjeYCebada[0]%>", "<%= @stockEjeYCebada[1]%>", "<%= @stockEjeYCebada[2]%>", "<%= @stockEjeYCebada[3]%>", "<%= @stockEjeYCebada[4]%>", "<%= @stockEjeYCebada[5]%>", "<%= @stockEjeYCebada[6]%>", "<%= @stockEjeYCebada[7]%>", "<%= @stockEjeYCebada[8]%>", "<%= @stockEjeYCebada[9]%>", "<%= @stockEjeYCebada[10]%>", "<%= @stockEjeYCebada[11]%>", "<%= @stockEjeYCebada[12]%>", "<%= @stockEjeYCebada[13]%>"] },
            {
            label: "Mis lanas en dos semanas                    ",
            fill: false, lineTension: 0.1, backgroundColor: "#000000",
            borderColor: "#000000",  borderCapStyle: 'butt',
            borderDash: [], borderDashOffset: 0.0, borderJoinStyle: 'miter',
            pointBorderColor: "#000000",
            pointBackgroundColor: "#fff", pointBorderWidth: 1,
            pointHoverRadius: 1, pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)", pointHoverBorderWidth: 1,
            pointRadius: 1,  pointHitRadius: 1,
            data: ["<%= @stockEjeYLana[0]%>", "<%= @stockEjeYLana[1]%>", "<%= @stockEjeYLana[2]%>", "<%= @stockEjeYLana[3]%>", "<%= @stockEjeYLana[4]%>", "<%= @stockEjeYLana[5]%>", "<%= @stockEjeYLana[6]%>", "<%= @stockEjeYLana[7]%>", "<%= @stockEjeYLana[8]%>", "<%= @stockEjeYLana[9]%>", "<%= @stockEjeYLana[10]%>", "<%= @stockEjeYLana[11]%>", "<%= @stockEjeYLana[12]%>", "<%= @stockEjeYLana[13]%>"] },
            {
            label: "Mis leches descremadas en dos semanas",
            fill: false, lineTension: 0.1, backgroundColor: "#4B0082",
            borderColor: "#4B0082",  borderCapStyle: 'butt',
            borderDash: [], borderDashOffset: 0.0, borderJoinStyle: 'miter',
            pointBorderColor: "#4B0082",
            pointBackgroundColor: "#fff", pointBorderWidth: 1,
            pointHoverRadius: 1, pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)", pointHoverBorderWidth: 1,
            pointRadius: 1,  pointHitRadius: 1,
            data: ["<%= @stockEjeYLecheD[0]%>", "<%= @stockEjeYLecheD[1]%>", "<%= @stockEjeYLecheD[2]%>", "<%= @stockEjeYLecheD[3]%>", "<%= @stockEjeYLecheD[4]%>", "<%= @stockEjeYLecheD[5]%>", "<%= @stockEjeYLecheD[6]%>", "<%= @stockEjeYLecheD[7]%>", "<%= @stockEjeYLecheD[8]%>", "<%= @stockEjeYLecheD[9]%>", "<%= @stockEjeYLecheD[10]%>", "<%= @stockEjeYLecheD[11]%>", "<%= @stockEjeYLecheD[12]%>", "<%= @stockEjeYLecheD[13]%>"] },
            {
            label: "Mis galletas integrales en dos semanas",
            fill: false, lineTension: 0.1, backgroundColor: "#FF00FF",
            borderColor: "#FF00FF",  borderCapStyle: 'butt',
            borderDash: [], borderDashOffset: 0.0, borderJoinStyle: 'miter',
            pointBorderColor: "#FF00FF",
            pointBackgroundColor: "#fff", pointBorderWidth: 1,
            pointHoverRadius: 1, pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)", pointHoverBorderWidth: 1,
            pointRadius: 1,  pointHitRadius: 1,
            data: ["<%= @stockEjeYGalletaI[0]%>", "<%= @stockEjeYGalletaI[1]%>", "<%= @stockEjeYGalletaI[2]%>", "<%= @stockEjeYGalletaI[3]%>", "<%= @stockEjeYGalletaI[4]%>", "<%= @stockEjeYGalletaI[5]%>", "<%= @stockEjeYGalletaI[6]%>", "<%= @stockEjeYGalletaI[7]%>", "<%= @stockEjeYGalletaI[8]%>", "<%= @stockEjeYGalletaI[9]%>", "<%= @stockEjeYGalletaI[10]%>", "<%= @stockEjeYGalletaI[11]%>", "<%= @stockEjeYGalletaI[12]%>", "<%= @stockEjeYGalletaI[13]%>"] }  ] };
        var myChart = new Chart(ctx, {type: 'line', data: data});
        </script>



    <h2>2) Porcentaje uso Bodega total (no considera al Pulmón)</h2>

    <div style="height: 250px; width: 450px">
    
     <canvas id="Almacenes"></canvas>
    </div>
        <script>
        var ctx = document.getElementById("Almacenes");
        var data = 
        { labels: ["<%= @stockEjeXBodega[0]%>", "<%= @stockEjeXBodega[1]%>"], 
        datasets: [
        {
            data: ["<%= @stockEjeYBodega[0]%>", "<%= @stockEjeYBodega[1]%>"],
            backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ]
        }]
        };
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {tooltips: { callbacks: {
                label: function(tooltipItem, data) {
                var allData = data.datasets[tooltipItem.datasetIndex].data;
                var tooltipLabel = data.labels[tooltipItem.index];
                var tooltipData = allData[tooltipItem.index];
                return tooltipLabel + ': ' + tooltipData + '%'; }} } }
            });
        </script>

    <h2>3) Porcentaje uso Almacén Grande</h2>

    <div style="height: 250px; width: 450px">
    
     <canvas id="grande"></canvas>
    </div>
        <script>
        var ctx = document.getElementById("grande");
        var data = 
        { labels: ["<%= @stockEjeXGrande[0]%>", "<%= @stockEjeXGrande[1]%>"], 
        datasets: [
        {
            data: ["<%= @stockEjeYGrande[0]%>", "<%= @stockEjeYGrande[1]%>"],
            backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ]
        }]
        };
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {tooltips: { callbacks: {
            label: function(tooltipItem, data) {
            var allData = data.datasets[tooltipItem.datasetIndex].data;
            var tooltipLabel = data.labels[tooltipItem.index];
            var tooltipData = allData[tooltipItem.index];
            return tooltipLabel + ': ' + tooltipData + '%'; }} } }
        });
        </script>

    <h2>4) Porcentaje uso Almacén Chico</h2>

    <div style="height: 250px; width: 450px">
    
     <canvas id="chico"></canvas>
    </div>
        <script>
        var ctx = document.getElementById("chico");
        var data = 
        { labels: ["<%= @stockEjeXChica[0]%>", "<%= @stockEjeXChica[1]%>"], 
        datasets: [
        {
            data: ["<%= @stockEjeYChica[0]%>", "<%= @stockEjeYChica[1]%>"],
            backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ]
        }]
        };
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {tooltips: { callbacks: {
            label: function(tooltipItem, data) {
            var allData = data.datasets[tooltipItem.datasetIndex].data;
            var tooltipLabel = data.labels[tooltipItem.index];
            var tooltipData = allData[tooltipItem.index];
            return tooltipLabel + ': ' + tooltipData + '%'; }} } }
        });
        </script>

        <h2>5) Porcentaje uso Almacén Recepción</h2>

        <div style="height: 250px; width: 450px">
        
         <canvas id="recepcion"></canvas>
        </div>
            <script>
            var ctx = document.getElementById("recepcion");
            var data = 
            { labels: ["<%= @stockEjeXRecepcion[0]%>", "<%= @stockEjeXRecepcion[1]%>"], 
            datasets: [
            {
                data: ["<%= @stockEjeYRecepcion[0]%>", "<%= @stockEjeYRecepcion[1]%>"],
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
            };
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: {tooltips: { callbacks: {
                label: function(tooltipItem, data) {
                var allData = data.datasets[tooltipItem.datasetIndex].data;
                var tooltipLabel = data.labels[tooltipItem.index];
                var tooltipData = allData[tooltipItem.index];
                return tooltipLabel + ': ' + tooltipData + '%'; }} } }
            });
            </script>

        <h2>6) Porcentaje uso Almacén Despacho</h2>

        <div style="height: 250px; width: 450px">
        
         <canvas id="despacho"></canvas>
        </div>
            <script>
            var ctx = document.getElementById("despacho");
            var data = 
            { labels: ["<%= @stockEjeXDespacho[0]%>", "<%= @stockEjeXDespacho[1]%>"], 
            datasets: [
            {
                data: ["<%= @stockEjeYDespacho[0]%>", "<%= @stockEjeYDespacho[1]%>"],
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
            };
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: {tooltips: { callbacks: {
                label: function(tooltipItem, data) {
                var allData = data.datasets[tooltipItem.datasetIndex].data;
                var tooltipLabel = data.labels[tooltipItem.index];
                var tooltipData = allData[tooltipItem.index];
                return tooltipLabel + ': ' + tooltipData + '%'; }} } }
            });
            </script>

        <h2>7) Porcentaje uso Almacén Pulmón</h2>

        <div style="height: 250px; width: 450px">
        
         <canvas id="pulmon"></canvas>
        </div>
            <script>
            var ctx = document.getElementById("pulmon");
            var data = 
            { labels: ["<%= @stockEjeXPulmon[0]%>", "<%= @stockEjeXPulmon[1]%>"], 
            datasets: [
            {
                data: ["<%= @stockEjeYPulmon[0]%>", "<%= @stockEjeYPulmon[1]%>"],
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
            };
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: {tooltips: { callbacks: {
                label: function(tooltipItem, data) {
                var allData = data.datasets[tooltipItem.datasetIndex].data;
                var tooltipLabel = data.labels[tooltipItem.index];
                var tooltipData = allData[tooltipItem.index];
                return tooltipLabel + ': ' + tooltipData + '%'; }} } }
            });
            </script>
            </div>
            </div>
            </section>
</div>
</body>
</html>
<style>
    #listasaldo{
text-align: center;
}
</style>