<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/images/style.css" />
		<title>Taller de Integración Grupo 3</title>
	</head>

	<body>
		<div id="container">
	        <div id="header">
	            <h1>Taller de Integración<span class="off">Grupo 3</span></h1>
	        </div>   
	        <div id="menu">
	            <ul>
	                <li class="menuitem"><a href="/">Inicio</a></li>
                    <li class="menuitem"><a href="/home/productos">Productos</a></li>
                    <li class="menuitem"><a href="/home/bodegas">Bodegas</a></li>
	                <li class="menuitem"><a href="/home/listaOrdenesCompra">Ordenes de Compra</a></li>
	                <li class="menuitem"><a href="/home/credenciales">Credenciales</a></li>
                    <li class="menuitem"><a href="/home/documentacion">Documentación</a></li>
	            </ul>
	        </div>
        <table border="1" id="t01"style="width:95%; position: relative;margin-top: 100px; margin-left: 40px;">
				  	<tr bgcolor="#B3B5B5">
				    	<th>id OC</th>
				    	<th>Estado</th>		
				    	<th>id Factura</th>
						<th>id Pago</th>
						<th>sku</th>
						<th>cantidad</th>
				  	</tr>
				  	<% @ocsdb = Oc.all %>
				  	<% @ocsdb.each do |ocdb| %>	
				  	<tr>
				  		<th><%= ocdb["oc"] %>	</th>
				  		<th><%= ocdb["estados"] %>	</th>
				  		<th><%= ocdb["factura"] %>	</th>
				  		<th><%= ocdb["pago"] %>	</th>
				  		<th><%= ocdb["sku"] %>	</th>
				  		<th><%= ocdb["cantidad"] %>	</th>						
					
				    </tr>
					<% end %>
				</table>
	   </div>
	</body>
</html>
