<%= form_for(@sent_order) do |f| %>
  <% if @sent_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sent_order.errors.count, "error") %> prohibited this sent_order from being saved:</h2>

      <ul>
      <% @sent_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :oc %><br>
    <%= f.text_field :oc %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :fechaEntrega %><br>
    <%= f.datetime_select :fechaEntrega %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
