<%= form_for(@sku) do |f| %>
  <% if @sku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sku.errors.count, "error") %> prohibited this sku from being saved:</h2>

      <ul>
      <% @sku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :grupoProyecto %><br>
    <%= f.text_field :grupoProyecto %>
  </div>
  <div class="field">
    <%= f.label :costoUnitario %><br>
    <%= f.number_field :costoUnitario %>
  </div>
  <div class="field">
    <%= f.label :loteProduccion %><br>
    <%= f.number_field :loteProduccion %>
  </div>
  <div class="field">
    <%= f.label :tiempoProduccion %><br>
    <%= f.text_field :tiempoProduccion %>
  </div>
  <div class="field">
    <%= f.label :reservado %><br>
    <%= f.number_field :reservado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
