<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @formula.sku %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @formula.descripcion %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @formula.lote %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @formula.unidad %>
</p>

<p>
  <strong>Skuingerdiente:</strong>
  <%= @formula.skuIngerdiente %>
</p>

<p>
  <strong>Ingrediente:</strong>
  <%= @formula.ingrediente %>
</p>

<p>
  <strong>Requerimiento:</strong>
  <%= @formula.requerimiento %>
</p>

<p>
  <strong>Unidadingrediente:</strong>
  <%= @formula.unidadIngrediente %>
</p>

<p>
  <strong>Precioingrediente:</strong>
  <%= @formula.precioIngrediente %>
</p>

<%= link_to 'Edit', edit_formula_path(@formula) %> |
<%= link_to 'Back', formulas_path %>
