<p id="notice"><%= notice %></p>

<p>
  <strong>Oc:</strong>
  <%= @oc.oc %>
</p>

<p>
  <strong>Estados:</strong>
  <%= @oc.estados %>
</p>

<p>
  <strong>Canal:</strong>
  <%= @oc.canal %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @oc.factura %>
</p>

<p>
  <strong>Pago:</strong>
  <%= @oc.pago %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @oc.sku %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @oc.cantidad %>
</p>

<%= link_to 'Edit', edit_oc_path(@oc) %> |
<%= link_to 'Back', ocs_path %>
