<p id="notice"><%= notice %></p>

<p>
  <strong>Oc:</strong>
  <%= @oc.oc %>
</p>

<p>
  <strong>Estados:</strong>
  <%= @oc.estados %>
</p>

<%= link_to 'Edit', edit_oc_path(@oc) %> |
<%= link_to 'Back', ocs_path %>
